.cta-2{
    background-color: #e63d3d;
    color:#fff;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;

}
.cta-2 > h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cta-2 > .button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 380px;
    margin: auto;
}