@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Barlow Condensed', 'sans-serif';
}

button{
    border: none;
    color: #fff;
    font-weight: 700;
    padding: 1.5rem 2.5rem;
    transform:skew(-10deg, 0);
    cursor: pointer;
    transition: background-color 0.5s ;
}

button.red{
    background-color: #e63d3d;
    color:#fff
}

button.red:hover{
    background-color: #c42f2f;
} 

button.black{
    background-color: #121212;
    color:#fff
}

button.black:hover{
    background-color: #23272b;
}

button.white{
    background-color: #fff;
    color: #121212;
}

button.white:hover{
    background-color: #dfdfdf;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

}

@media (min-width: 641px){
    .container{
        padding-left: 3rem;
        padding-right: 3rem;

    }
}

@media (min-width: 992px){
    .container{
        padding-left: 5rem;
        padding-right: 5rem;

    }
}

@media (min-width: 1200px){
    .container{
        padding-left: 8rem;
        padding-right: 8rem;

    }
}