@import url('./global.css');
@import url('./masterhead.css');
@import url('./skills.css');
@import url('./cta-1.css');
@import url('./portfolio.css');
@import url('./cta-2.css');
@import url('./footer.css');


